<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Inicio de Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="formLogin">
      <ion-list>
        <ion-item>
          <ion-input placeholder="User Name" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="onEnter()" expand="block" [disabled]="formLogin.invalid">Entrar</ion-button>
    </form>
    <ion-button expand="block" [routerLink]="['/registro']">Registrar</ion-button>
  </div>
</ion-content>
