<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Inicio de Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="formLogin">
      <ion-input placeholder="User Name" formControlName="username"></ion-input>
      <ion-input placeholder="Password" formControlName="password"></ion-input>
      <ion-button (click)="onEnter()" expand="full" [disabled]="formLogin.invalid">Entrar</ion-button>
    </form>
    <ion-button expand="full" [routerLink]="['/registro']">Registrar</ion-button>
  </div>
</ion-content>
