<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regsitro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="formRegistro">
      <ion-input placeholder="User name" formControlName="username"></ion-input>
      <ion-input placeholder="Email" formControlName="email"></ion-input>
      <ion-input placeholder="Password" formControlName="password"></ion-input>
      <ion-button (click)="onSave()" [disabled]="formRegistro.invalid">Save</ion-button>
    </form>
  </div>
</ion-content>
